@page
@model bolnica_razor_pages.Pages.Pacijenti.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pacijent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pacijent.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Pacijent.Ime" class="control-label"></label>
                <input asp-for="Pacijent.Ime" class="form-control" />
                <span asp-validation-for="Pacijent.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Pacijent.Prezime" class="control-label"></label>
                <input asp-for="Pacijent.Prezime" class="form-control" />
                <span asp-validation-for="Pacijent.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.DatumRodjenja" class="control-label"></label>
                <input asp-for="Pacijent.DatumRodjenja" class="form-control" />
                <span asp-validation-for="Pacijent.DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.Spol" class="control-label"></label>
                <input asp-for="Pacijent.Spol" class="form-control" />
                <span asp-validation-for="Pacijent.Spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.Adresa" class="control-label"></label>
                <input asp-for="Pacijent.Adresa" class="form-control" />
                <span asp-validation-for="Pacijent.Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.Telefon" class="control-label"></label>
                <input asp-for="Pacijent.Telefon" class="form-control" />
                <span asp-validation-for="Pacijent.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.Email" class="control-label"></label>
                <input asp-for="Pacijent.Email" class="form-control" />
                <span asp-validation-for="Pacijent.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.BrojKartona" class="control-label"></label>
                <input asp-for="Pacijent.BrojKartona" class="form-control" />
                <span asp-validation-for="Pacijent.BrojKartona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacijent.OdjelId" class="control-label"></label>
                <select asp-for="Pacijent.OdjelId" class="form-control" asp-items="ViewBag.OdjelId"></select>
                <span asp-validation-for="Pacijent.OdjelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
